/* importación de tipografia */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,900&display=swap');

/* selector universal */
*{
    margin: 0;
    padding: 0;
}

h1{
    font-family: 'Poppins';
    font-weight: 900;
    color: yellowgreen;
}
/* selector de etiqueta */
h2{
    color: red;
}
/* selector de id */
#site_text{
    background-color: #eee6e6;
}
/* selector de clases */
.subtitles{
    font-family: 'Poppins';
}
/* selector por atributo */
input[disabled]{
    background-color: aquamarine;
}
/* selector por id - Botón Enviar */
#btn_send{
    margin: 20px;
    padding: 50px;
}
/* Selector por pseudoclases */
#btn_send:hover{
    background-color: aquamarine;
    color: orange;
    font-size: 20px;
}

#papa{
    margin-left: 50px;
    border: 2px double red;
    border-radius: 10px;
}

.hermanos {
    background-color: aqua;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px;
}

#nh_uno{
    color: blue;
}
/* Selector descendiente hijo */
#papa > .hermanos > #nh_uno{
    color: orange;
}

/* Selector descendiente */
#papa .nieto{
    color: red;
}

span{
    color: #000008;
}

#title_box{
    color: #000;
    font-family: 'Poppins', sans-serif;
    background-color: aqua;
    text-align: center;
    padding-left: 20px;
    margin: 50px;
    border: 2px groove #000;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 10px rgb(195, 195, 206);
    word-spacing: 10px;
    letter-spacing: 5px;
    font-size: 20px;
}

#box_father{
    border: 1px solid #000;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    margin-left: 20px;
    background-image: url(https://as2.ftcdn.net/v2/jpg/03/77/14/27/1000_F_377142766_tITrjvKTAuhymPKusDVSpMutQKFoR2KA.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* media querys entre 800 y 1280  */
@media (min-width:800px) and (max-width:800px){
    body{
        background-color: rgb(235, 9, 9);
    }
}

@media (max-width:799px){
    body{
        background-image: url(https://as2.ftcdn.net/v2/jpg/03/77/14/27/1000_F_377142766_tITrjvKTAuhymPKusDVSpMutQKFoR2KA.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

}
